<mat-toolbar color="primary" class="mat-toolbar">
  <p>
    <button mat-button (click)="toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </p>

  <span routerLink="/"><a mat-button>SocioPulse</a></span>
  <span class="spacer"></span>

  <div class="pc-layout">

    @if (userRole === 'administrator') {
      <a routerLink="/admin-dashboard" mat-button><b>Gestion des rôles</b></a>
    }

    @if (userRole === 'administrator' || userRole === 'entreprise') {
      <a routerLink="/access-requests" mat-button><b>Demandes d'accès</b></a>
    }

    <a routerLink="/projects-list-page" mat-button><b>Liste des Projets</b></a>

    @if (userRole === 'administrator' || canCreate) {
      <a routerLink="/project-maker-page" mat-button><b>Créer un Projet</b></a>
    }

    <a>||</a>

    @if (!isLoggedIn) {
      <a (click)="openDialog()" mat-button>Connexion</a>
      <a routerLink="/register-page" mat-button>Inscription</a>
    } @else {
      <a routerLink="/profile-page" mat-button>{{ userName }}</a>
      <a (click)="logout()" class="logout" mat-button>Déconnexion</a>
    }

  </div>
</mat-toolbar>
