<div class="container">
  <mat-card class="request-card">
    <mat-card-header>
      <mat-card-title>
        <strong>Demandes d'accès aux fichiers</strong>
      </mat-card-title>
    </mat-card-header>

    <mat-card-content class="content">
      <div *ngIf="requests.length > 0; else noRequests">
        <div *ngFor="let request of requests" class="request-item">
          <p>
            <strong>Utilisateur :</strong> {{ request.user_id }}<br>
            <strong>Statut :</strong>
            <span [ngClass]="{
              'approved': request.status === 'approved',
              'pending': request.status === 'pending',
              'rejected': request.status === 'rejected'
            }">
              {{ request.status }}
            </span>
          </p>

          @if(isAuthorizedToManageRequests(request)) {
            <div class="actions">
              <button mat-raised-button color="primary" (click)="approveRequest(request)">Accepter</button>
              <button mat-raised-button color="warn" (click)="rejectRequest(request)">Refuser</button>
            </div>
          }
        </div>
      </div>

      <ng-template #noRequests>
        <p class="no-requests">Aucune demande en attente.</p>
      </ng-template>
    </mat-card-content>
  </mat-card>
</div>
