<div class="wall">
  <app-navbar [sidenav]="sidenav"> </app-navbar>

  <mat-sidenav-container class = "content">

    <mat-sidenav class="side-panel" #sidenav mode="side" [(opened)]="opened">
      <mat-nav-list>
        <br>
        changement texte
        <a routerLink="/about-page" mat-list-item>Qui sommes nous</a>
        <a routerLink="/faq-page" mat-list-item>FAQ</a>
        <a (click)="openDialog()" mat-list-item>Connexion</a>
        <a routerLink="/register-page" mat-list-item>Inscription</a>
      </mat-nav-list>
    </mat-sidenav>
  </mat-sidenav-container>

    <mat-card class="card">
      <div class = "content-inside">
        <router-outlet/>
      </div>
    </mat-card>

</div>

<!--
<div class="footer">
  <a routerLink="/faq-page" >FAQ</a>
  <a routerLink="/about-page" >Qui Sommes Nous</a>
</div>
-->
