<h1 mat-dialog-title>Ajouter un rapport</h1>
<div mat-dialog-content>
  <!-- Formulaire piloté par template avec ngModel -->
  <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
    <!-- Champ Nom -->
    <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Nom</mat-label>
      <input
        matInput
        placeholder="Entrez votre nom"
        name="name"
        [(ngModel)]="name"
        #nameField="ngModel"
        required>
      @if(nameField.invalid && nameField.touched){
        <mat-error>
          Le nom est requis
        </mat-error>
      }
      <input type="file" (change)="onFileSelected($event)" accept="application/pdf">


    </mat-form-field>

    <!-- Boutons d'action -->
    <div mat-dialog-actions style="justify-content: flex-end;">
      <button mat-button type="button" (click)="onCancel()">Annuler</button>
      <button mat-button type="submit" [disabled]="loginForm.invalid">Ajouter</button>
    </div>
  </form>
</div>
