.admin-dashboard-container {
    display: flex;
    min-height: 95vh;
    width: 75%;
    margin: 80px auto;
}

.admin-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    padding: 40px;
    border-radius: 16px;
    width: 100%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    margin-bottom: 20px;
}

.permissions-container {
    margin-top: 20px;
    
    // Apply Flexbox to organize elements vertically
    display: flex;
    flex-direction: column;
    align-items: flex-start;  // Align elements to the left

    mat-checkbox {
        margin-bottom: 12px;  // Space between checkboxes
    }

    button {
        margin-top: 20px;  // Space between the last checkbox and the button
        padding: 12px 24px;
        font-weight: 500;
        letter-spacing: 0.5px;

        &[color="primary"] {
            background-color: #1a237e;
            color: white;
        }
        &[color="warn"] {
            background-color: red;
            color: white;
        }
    }
}

.role-select {
    width: 100%;
}

table {
    width: 100%;
} 

button {
    padding: 12px 24px;
    font-weight: 500;
    letter-spacing: 0.5px;

    &[color="primary"] {
        background-color: #1a237e;
        color: white;
    }
    &[color="warn"] {
        background-color: red ;
        color: white;
    }
}

mat-card-content {
    margin: 24px 0;
    color: #4a4a4a;

    p {
        margin: 16px 0;
        font-size: 1.1rem;
        line-height: 1.8;

        strong {
            color: #2c2c2c;
            font-weight: 600;
            margin-right: 8px;
        }
    }
}

mat-card-title h2 {
    font-family: "Candara", sans-serif;
    font-size: 4rem;
    margin-bottom: 24px;
    color: #1a1a1a;
    letter-spacing: -0.5px;
}

::ng-deep {
    /* White background for all options */
    .mat-mdc-option {
        background-color: white !important;  
        color: black !important;             
    }

    /* Light gray background on hover */
    .mat-mdc-option:hover {
        background-color: #f1f1f1 !important;
    }

    /* Selected option - dark blue background and white text */
    .mat-mdc-option.mat-mdc-option-active {
        background-color: #3f51b5 !important; 
        color: white !important;              
    }

    /* Disabled option - gray background */
    .mat-mdc-option.mat-mdc-option-disabled {
        background-color: #e0e0e0 !important;  
        color: #9e9e9e !important;             
    }
}
