<div class="admin-dashboard-container">
    <mat-card class="admin-card">
        <mat-card-header>
            <mat-card-title>
                <h2>Gestion de Rôle</h2>
            </mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <!-- Role selection -->
            <mat-form-field class="role-select">
                <mat-label>Select a role</mat-label>
                <mat-select [(value)]="selectedRole" (selectionChange)="onRoleChange($event.value)">
                    <mat-option *ngFor="let role of roles" [value]="role">{{ role.name }}</mat-option>
                </mat-select>
            </mat-form-field>

            <!-- Displaying permissions of the selected role -->
            <div *ngIf="selectedRole" class="permissions-container">
                <h3>Permissions pour le rôle: {{ selectedRole.name }}</h3>

                <mat-checkbox *ngFor="let permission of permissions"
                              [checked]="permission.value"
                              (change)="togglePermission(selectedRole, permission, $event.checked)">
                    {{ permission.name }}
                </mat-checkbox>

                <!-- Save button -->
                <button mat-raised-button color="primary" (click)="updatePermissions()">
                    Sauvegarder Permissions
                </button>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="admin-card">
        <mat-card-header>
            <mat-card-title><b>Liste d'utilisateurs</b></mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <!-- Displaying users in a table -->
            <table mat-table [dataSource]="users" class="mat-elevation-z8">
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Name</th>
                    <td mat-cell *matCellDef="let user">{{ user.name }}</td>
                </ng-container>

                <ng-container matColumnDef="role">
                    <th mat-header-cell *matHeaderCellDef>Role</th>
                    <td mat-cell *matCellDef="let user">
                        <mat-select [(value)]="user.role_id" (selectionChange)="updateUserRole(user.id, user.role_id)">
                            <mat-option *ngFor="let role of roles" [value]="role.id">{{ role.name }}</mat-option>
                        </mat-select>
                    </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Actions</th>
                    <td mat-cell *matCellDef="let user">
                        <button mat-button (click)="deleteUser(user.id)">Supprimer</button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </mat-card-content>
    </mat-card>
</div>
